ul {list-style: none;
}

a {text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  :root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
  }

  body {
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    font-family: 'Roboto', sans-serif;
  }

/*------Main--------*/

.list {list-style: none;
  padding: 0;
  ;
}

.link {text-decoration: none;
}



.primary-text-color {color: var(--primary-text-color)
}

.secondary-text-color {color: var(--secondary-text-color)
}

.accent-color {color: var(--accent-color)
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}

  /*-------header-------*/

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
}

  .logo-color {color: #000000;
}

  .logo-accent-color {color: var(--accent-color);
}

/*------navigation--------*/

.nav {
    font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;

}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

/*--------index.html---------*/

.order-from-us {background-color: #2F303A;
    text-align: center;
} 
.h1  {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
  }

.button-for-order {
    background-color: var(--accent-color);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    border-radius: 4px;
    line-height: 1.88;
    font-family: inherit;
  }

.h3-our-features {
margin-top: 0;
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
text-align: left;
text-transform: uppercase;
}

.p-our-features {
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color:var(--secondary-text-color);
}

.h2-what-we-do {
font-size: 36px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: center;
}

.our-team-bg-color {
  background-color: #F5F4FA;
}

.h2-our-team {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  font-weight: 700;
}

.h3-our-member {
font-size: 16px;
font-weight: 500;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: center;
}

.p-our-member {
color: var(--secondary-text-color);
font-size: 16px;
font-weight: 400;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: center;
}

/*--------portfolio---------*/

.button {
  display: inline-block;
  min-width: 30px;
  border: 1px solid:transparent;
  border-radius: 6px;
  background-color: #f5f4fa;
  cursor:pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-family: inherit;
}

.portfolio-h3 {
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 0.06em;
text-align: left;
}

.portfolio-p {
color: var(--secondary-text-color);
font-size: 16px;
font-weight: 400;
line-height: 1.88;
letter-spacing: 0.03em;
text-align: left;
}

/*-------footer-------*/

.footer-background {
  background-color: #2F303A;
}
